*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.nav-menu{
    background-color: #0c0f12;
    color: aliceblue;
    padding:12px 18px;
}

.submenu{
    display:none;
    padding: 12px;
    list-style: none;
    background-color: #f4f4f4;

}

/*esta class active muestra el submenu y se agrega desde Javascript*/

.submenu.active{
    display:block;
}

.hamburguesa{
    width: 45px;
    height: 35px;
    background: #222;
    border: none;
    border-radius: 8px;
    padding:8px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    
}
.linea{
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}

.navMovil{
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    opacity: 1;
    visibility: hidden;
    transform:translateY(-12px) scale(0.95);
    
}
.lista-movil{
    list-style: none;
    padding: 0;
    margin: 0;
}
.lista-movil a{
    padding:10px;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    display: block;


}

.lista-movil a:hover{
    background-color: #ffffff;
}

.submenu2{
display: none;
list-style: none;
padding-left: 15px;
margin: 0;


}

.navMovil.abierto{
    opacity:1;
    visibility: visible;
    transform:translateY(0) scale(1);
}

.submenu2.activo{
    display: block;
}

/*-------------------- CONTENEDOR PRODUCTOS-------*/
h1{
    text-align: center;
}
form{
    display: flex;
    padding: 16px;
    margin:18px;
    background-color: blanchedalmond;
    gap:12px;
    
}

input,button{
font-size: 16px;
padding: 12px;

}
button{
    background-color: #28a745;
    color:whitesmoke;
    border:none;
    border-radius: 8px;
}

button:hover{
    background-color:#218838 ;
}

.contenedor-productos{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.tarjeta-producto{
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 12px;
    padding:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.btn-eliminar{
    background-color: rgb(51, 51, 235);
    padding: 8px 10px;
    color:#f4f4f4;
}

